.table {
  white-space: nowrap;
  border-spacing: 0;
}

.table input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin: 7px;
}

.table tr th,
.table tr td {
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 4px 4px 2px 4px;

  background-color: white;
  overflow: hidden;
}

.boxA div .table tr th {
  background-color: #9adbaf;
}

.boxB div:nth-child(1) .table tr th {
  background-color: #f2f2f2;
}

.boxA div:nth-child(1) .table tr th:nth-child(1),
.boxB div:nth-child(1) .table tr th:nth-child(1) {
  border-left: 1px solid #999;
  padding: 0px;
  margin: 0px;
}

.boxA div:nth-child(1) .table tr th,
.boxA div:nth-child(2) .table tr th {
  border-top: 1px solid #999;
}

.boxA div:nth-child(1) table tr th:nth-child(2),
.boxB div:nth-child(1) table tr th:nth-child(2) {
  min-width: 250px;
  max-width: 250px;
}

.boxA div:nth-child(2) table tr th,
.boxB div:nth-child(2) table tr td {
  min-width: 180px;
  max-width: 180px;
}

.boxA,
.boxB {
  border-right: 1px solid #999;
  display: flex;
}

.boxB {
  max-height: 78vh;
  border-bottom: 1px solid #999;
}

.boxA div:nth-child(2),
.boxB div:nth-child(1),
.boxB div:nth-child(2) {
  overflow: auto;
}

/* Google Chrome、Safari、Microsoft Edge対応のスクロールバー非表示コード */
.boxA div:nth-child(2)::-webkit-scrollbar,
.boxB div:nth-child(1)::-webkit-scrollbar {
  display: none;
}

.boxA div:nth-child(2),
.boxB div:nth-child(1) {
  scrollbar-width: none; /*Firefox対応のスクロールバー非表示コード*/
  -ms-overflow-style: none; /*Internet Explore対応のスクロールバー非表示コード*/
}

.overlay {
  position: relative;
  /* background-color: rgb(221, 50, 50); */
}

.moveTable {
  position: absolute;
}

/* ホバーしたときの吹き出し */
.discription {
  position: fixed;
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 10px;
  line-height: 1.6em;
  top: 50px;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

.discription:before {
  content: "";
  position: absolute;
  top: 37px;
  right: 47%;
  border: 15px solid transparent;
  border-top: 15px solid #000;
  transform: rotateZ(360deg);
}
