.overlay {
  z-index: 1000;
  position: fixed;
  background-color: #00000070;
  width: 100%;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal {
  width: 650px;
  height: 270px;
  padding-top: 35px;
  padding-bottom: 20px;
  background-color: white;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 200px auto 0 auto;
  position: relative;
}

.modal p {
  font-weight: bold;
}

.modal #textarea {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.modal #textarea input[type="text"] {
  width: 99%;
  margin-bottom: 10px;
}

.modal #buttonarea {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: end;
  color: red;
}

.modal #buttonarea input[type="checkbox"] {
  margin-right: 5px;
}

.modal #buttonarea button {
  margin-left: 10px;
}

.modal_centering_div {
  z-index: 1001;
  position: fixed;
  background-color: #00000070;
  width: 100%;
  height: 0px;
  background-color: red;
}
