.colortable {
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

.colortable td {
  word-wrap: break-word;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 5px;
  text-align: center;
}

.colortable tr {
  background-color: #c5f0d3;
}

.colortable tbody tr:nth-child(2n) {
  background-color: #c5f0d3a4;
}

.colortable th {
  white-space: nowrap;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  background: white;

  position: sticky;
  top: 0;
  left: 0;
}
