.topbarContainer {
  background-color: #70ad47;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.topbartab {
  display: flex;
  margin-top: 33px;
  margin-right: 20px;
  font-weight: bold;
  margin-left: 50px;
}

.topbartab a {
  color: black;
  cursor: default;
  text-decoration: none;
}

.topbartabbutton {
  padding: 3px;
  padding-right: 7px;
  padding-left: 7px;
  border-left: 1px dashed black;
  width: 200px;
  text-align: center;
}

.toptabbuttonright {
  border-right: 1px dashed black;
}

.selecttopbartabbutton {
  border-bottom: 4px solid rgb(231, 135, 90);
}

.topbarbuttonswraper {
  margin-right: 200px;
  white-space: nowrap;
}
