.managereleagepackagewrapper{
  display: flex;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 80vh;

  border: 1px solid #999;
}

.managereleagepackagelist{
  flex: 3;
  border-right: 1px solid #999;
  overflow: auto;
}
.managereleagepackagetreeview{
  flex: 3;
  border-right: 1px solid #999;
}
.managereleagepackagesearchview{
  flex: 6;
  border-right: 1px solid #999;
}



.managereleagepackagelist ul{
  list-style:none;
  padding:0;
}

.managereleagepackagelist li{
  font-size: 18px;
  background-color: #e2efda;
}

.managereleagepackagelist ul li:nth-child(2n) {
  background-color: #c6e0b4;
}

.searcharea{
  width: 80%;
  height: auto;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.managereleagepackagesearchviewtablewrapper{
  overflow: auto;
  width: 80%;
  height: 65vh;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

