#packagealert {
  background-color: #e74c3c;
  width: 350px;
  height: 45px;
  position: sticky;
  z-index: 10;
  top: 5px;
  margin: 0px 5px 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  user-select: none;
}

#packagealert img {
  filter: brightness(10) invert(0);
  width: 25px;
}

#packagealert span {
  margin-left: 5px;
  margin-right: 10px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

#packagealert button {
  background-color: white;
  border: 1px solid black;
  padding: 1px 5px 1px 5px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}
