.managemachinebuttonwrapper {
  width: 70%;
  text-align: right;
  margin: auto;
  margin-top: 30px;
}

.managemachinetablewrapper {
  overflow: auto;
  width: 70%;
  max-height: 78vh;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(153, 153, 153, 0.6);
}

#managemachinetabletbody tr:hover {
  font-weight: bold;
}
