#managepackagewrapper {
  display: flex;
  width: 96%;
  height: 80vh;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #999;
}

#managepackagebox1 {
  flex: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 10%;
}

#managepackagebox2 {
  flex: auto;
}

#managepackagebox3 {
  flex: auto;
  border-right: 1px solid #999;
}

#searchareawrapper {
  width: 90%;
  height: auto;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#managepackagesearchviewtablewrapper {
  overflow: auto;
  width: 90%;
  height: 65vh;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  border: 1px solid rgba(153, 153, 153, 0.6);
}

#searchareawrapper input[type="text"] {
  margin-right: 10px;
}

.handler {
  width: 4px;
  padding: 0;
  cursor: ew-resize;
  flex: 0 0 auto;
  background-color: gray;
  transition: 0.2s;
}

.handler:hover {
  width: 4px;
  background-color: rgb(0, 102, 255);
}

#takosukeview {
  width: 100%;
  height: 2000px;
  background-color: saddlebrown;
}

#takosuke {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50%;
}

.widthheightoverflow {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
