.managepackagewrapper{
  display: flex;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 80vh;

  border: 1px solid #999;
}

.managepackagelist{
  flex: 3;
  border-right: 1px solid #999;
  overflow: auto;
}
.managepackagetreeview{
  flex: 3;
  border-right: 1px solid #999;
  overflow: auto
}
.managepackagesearchview{
  flex: 6;
  border-right: 1px solid #999;
}



.managepackagelist ul{
  list-style:none;
  padding:0;
}

.managepackagelist li{
  font-size: 18px;
  background-color: #e2efda;
}

.managepackagelist ul li:nth-child(2n) {
  background-color: #c6e0b4;
}

.searcharea{
  width: 80%;
  height: auto;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.managepackagesearchviewtablewrapper{
  overflow: auto;
  width: 80%;
  height: 65vh;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

