.textarea {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.textarea input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
}

.buttonarea {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: red;
  display: flex;
  justify-content: space-between;
}

.buttonarea div:nth-child(1) {
  display: flex;
  align-items: center;
}

.buttonarea input[type="checkbox"] {
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

.buttonarea button {
  margin-left: 10px;
}
