.modal {
  width: 640px;
  height: 410px;
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: white;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 15.5vh auto 0 auto;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 6px black;
}

.df {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.deleteButton {
  background-color: red;
  color: white;
  border: none;
  border-radius: 8px;
  height: 30px;
  margin-left: 8px;
  margin-right: 5px;
  padding: 4px 8px 3px 8px;
  cursor: pointer;
}

.addbutton {
  background-color: rgb(59, 62, 236);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 4px 8px 3px 8px;
  cursor: pointer;
}

.area1 {
  overflow: auto;
  flex: 5;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.area1 input[type="text"] {
  flex: 1;
}

.area2 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
