* {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.mybutton {
  background-color: #e7e7e7;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 8px;
  padding: 3px 8px 2px 8px;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

input[type="text"] {
  padding: 6px;
}

.redtext {
  color: red;
}

.whitetext {
  color: white;
}

.bold {
  font-weight: bold;
}

.border {
  border: 1px solid #333333;
}
