.managepackagelist {
  white-space: nowrap;
}

.managepackagelist tbody tr:hover {
  font-weight: bold;
}

.managepackagelist tbody tr td {
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #999;
  text-align: left;
}

.selectpackage {
  background-color: #f06060 !important;
  color: white !important;
  font-weight: bold !important;
}
