/* .managepackagelist{
  list-style:none;
  padding:0;
  user-select:none;
}

.managepackagelist li{
  cursor: pointer;
  font-size: 18px;
  background-color: #e2efda;
}

.managepackagelist li:hover{
  font-weight: bold;
}

.managepackagelist li:nth-child(2n) {
  background-color: #c6e0b4;
} */
.managepackagetable{
  white-space: nowrap;
  
}

.managepackagetabletbody td{
  overflow: hidden;
  text-overflow: ellipsis;
}

.managepackagetable tr:hover{
  font-weight: bold;
  /* text-decoration: underline; */
}


/* .managepackagetable tr:hover{
 text-decoration: underline;
} */