.managepackagetable {
  white-space: nowrap;
}

.managepackagetabletbody td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.managepackagetable tr:hover {
  font-weight: bold;
}

.selectpackage {
  background-color: red !important;
  color: white !important;
  font-weight: bold !important;
}
